[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tinybaker = {editable = true, path = "."}
black = "*"
flake8 = "*"
fs = "*"
typeguard = "*"
twine = "*"
importlib_metadata = "*"
pytest-watch = "*"
pandas = "*"
sphinx = "*"
scikit-learn = "*"
m2r2 = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"

[pipenv]
allow_prereleases = true
