[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tinybaker = {editable = true, path = "."}
black = "*"
flake8 = "*"
fs = "*"
twine = "*"
importlib_metadata = "*"
pytest-watch = "*"
pandas = "*"

[packages]
scikit-learn = "*"

[pipenv]
allow_prereleases = true
